<section id="beginning">
    <div
        class="bg-gray-100 py-32 relative mb-4 lg:mb-0 md:h-[400px] lg:h-[555px]"
    >
        <img
            alt="gallery"
            class="w-full h-full object-cover object-center block absolute inset-0"
            src="../../public/images/hero.webp"
        />
    </div>
</section>
