<section
    id="catalogue"
    class="text-gray-600 body-font mt-10 lg:mt-0 lg:grid lg:overflow-hidden lg:grid-cols-4 lg:grid-rows-2"
>
    <div
        class="container mx-auto px-5 flex items-center justify-center flex-col lg:box lg:row-start-1 lg:row-end-1 lg:col-start-1 lg:col-end-3"
    >
        <h1
            class="title-font sm:text-4xl text-4xl mb-4 font-medium text-gray-900 w-full relative md:text-center lg:text-right"
        >
            <span
                class="font-anton tracking-widest uppercase text-5xl lg:text-7xl text-gray-300 lg:mr-16"
                >catálogo</span
            >
            <div
                class="absolute bottom-1 lg:bottom-3 left-16 md:left-1/2 lg:right-1"
            >
                <span class="uppercase text-2xl lg:text-3xl font-semibold"
                    >figuras <span class="text-blue-500">amigurumi</span></span
                >
            </div>
        </h1>
    </div>

    <div class="lg:box lg:row-start-1 lg:row-end-3 lg:col-start-3 lg:col-end-5">
        <img
            class="w-full md:w-3/6 lg:w-full mb-5 lg:mb-0 md:mx-auto"
            alt="hero"
            src="../images/catalogue.webp"
        />
    </div>

    <div
        class="container mx-auto px-5 flex items-center lg:items-end justify-center flex-col lg:box lg:row-start-2 lg:row-end-2 lg:col-start-1 lg:col-end-3"
    >
        <div class="text-justify w-full lg:text-right lg:w-1/2">
            <p class="text-lg">
                Encuentra una gran variedad de modelos, todos y cada uno con una
                personalidad propia que alegraran tu día a día.
            </p>
            <p class="text-lg">
                Escoge el compañero que más te agrade ése el detalle especial
                que llenará de dicha la vida de alguien querido para ti.
            </p>
            <div class="mt-2 text-center justify-center lg:text-right">
                <a
                    href="https://www.instagram.com/stuproductos/"
                    target="_blank"
                    class="ml-4 mt-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg uppercase"
                    >conoce más</a
                >
            </div>
        </div>
    </div>

    <div
        class="w-full bg-red-500 mt-10 lg:mt-0 p-5 lg:p-12 text-center lg:box lg:col-span-4"
    >
        <p class="mb-2 text-white font-semibold">
            ¿Quieres conocer cómo y dónde comprar lo que ofrecemos en
            STU-PRODUCTOS?
        </p>
        <button
            class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg uppercase"
            >enterate comó</button
        >
    </div>
</section>
