<section id="courses" class="text-gray-600 body-font mt-10">
    <div class="relative">
        <img
            class="w-full object-cover object-center"
            alt="hero"
            src="../images/courses.webp"
        />
        <div class="absolute bottom-0 right-1/2">
            <p
                class="font-anton tracking-widest uppercase text-white font-black text-3xl md:text-4xl lg:text-7xl"
            >
                cursos
            </p>
            <span class="uppercase text-white font-bold md:text-xl lg:text-3xl"
                >video</span
            >
            <span
                class="uppercase text-red-500 font-bold md:text-xl lg:text-3xl"
                >tutorial</span
            >
        </div>
    </div>
    <div class="w-full bg-gray-500 py-5 px-8 text-center">
        <p class="mb-2 uppercase text-left text-white font-semibold text-base">
            pendiente
        </p>
        <a
            href="https://www.youtube.com/c/StuProductos"
            target="_blank"
            class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg uppercase"
            >comienza ahora</a
        >
    </div>
</section>
