<footer class="text-gray-100 bg-gray-900 body-font">
    <div
        class="container px-5 py-8 mx-auto flex items-center flex-col sm:flex-row"
    >
        <a
            class="flex title-font font-medium items-center justify-center text-gray-900 md:justify-start"
        >
            <img src="../images/character.webp" alt="character" />
        </a>

        <p class="uppercase font-bold mt-4">Hecho en México</p>

        <div
            class="inline-flex mt-4 justify-center sm:justify-start sm:mt-0 sm:ml-auto"
        >
            <a
                class="text-gray-200"
                href="https://www.facebook.com/Stuproductos/"
                target="_blank"
            >
                <!--?xml version="1.0"?-->
                <svg
                    fill="#FFFFFF"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    width="48px"
                    height="48px"
                >
                    <path
                        d="M19,3H5C3.895,3,3,3.895,3,5v14c0,1.105,0.895,2,2,2h7.621v-6.961h-2.343v-2.725h2.343V9.309 c0-2.324,1.421-3.591,3.495-3.591c0.699-0.002,1.397,0.034,2.092,0.105v2.43h-1.428c-1.13,0-1.35,0.534-1.35,1.322v1.735h2.7 l-0.351,2.725h-2.365V21H19c1.105,0,2-0.895,2-2V5C21,3.895,20.105,3,19,3z"
                    ></path></svg
                >
            </a>
            <a
                class="ml-3 text-gray-200"
                href="https://www.instagram.com/stuproductos/"
                target="_blank"
            >
                <!--?xml version="1.0"?-->
                <svg
                    fill="#FFFFFF"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    width="48px"
                    height="48px"
                >
                    <path
                        d="M 8 3 C 5.239 3 3 5.239 3 8 L 3 16 C 3 18.761 5.239 21 8 21 L 16 21 C 18.761 21 21 18.761 21 16 L 21 8 C 21 5.239 18.761 3 16 3 L 8 3 z M 18 5 C 18.552 5 19 5.448 19 6 C 19 6.552 18.552 7 18 7 C 17.448 7 17 6.552 17 6 C 17 5.448 17.448 5 18 5 z M 12 7 C 14.761 7 17 9.239 17 12 C 17 14.761 14.761 17 12 17 C 9.239 17 7 14.761 7 12 C 7 9.239 9.239 7 12 7 z M 12 9 A 3 3 0 0 0 9 12 A 3 3 0 0 0 12 15 A 3 3 0 0 0 15 12 A 3 3 0 0 0 12 9 z"
                    ></path></svg
                >
            </a>
            <a
                class="ml-3 text-gray-200"
                href="https://www.youtube.com/c/stuproductos"
                target="_blank"
            >
                <!--?xml version="1.0"?-->
                <svg
                    fill="#FFFFFF"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    width="48px"
                    height="48px"
                >
                    <path
                        d="M21.582,6.186c-0.23-0.86-0.908-1.538-1.768-1.768C18.254,4,12,4,12,4S5.746,4,4.186,4.418 c-0.86,0.23-1.538,0.908-1.768,1.768C2,7.746,2,12,2,12s0,4.254,0.418,5.814c0.23,0.86,0.908,1.538,1.768,1.768 C5.746,20,12,20,12,20s6.254,0,7.814-0.418c0.861-0.23,1.538-0.908,1.768-1.768C22,16.254,22,12,22,12S22,7.746,21.582,6.186z M10,15.464V8.536L16,12L10,15.464z"
                    ></path></svg
                >
            </a>
            <a
                class="ml-3 text-gray-200"
                href="https://www.tiktok.com/@stuproductos"
                target="_blank"
            >
                <svg
                    fill="#FFFFFF"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    width="48px"
                    height="48px"
                    ><path
                        d="M 6 3 C 4.3550302 3 3 4.3550302 3 6 L 3 18 C 3 19.64497 4.3550302 21 6 21 L 18 21 C 19.64497 21 21 19.64497 21 18 L 21 6 C 21 4.3550302 19.64497 3 18 3 L 6 3 z M 12 7 L 14 7 C 14 8.005 15.471 9 16 9 L 16 11 C 15.395 11 14.668 10.734156 14 10.285156 L 14 14 C 14 15.654 12.654 17 11 17 C 9.346 17 8 15.654 8 14 C 8 12.346 9.346 11 11 11 L 11 13 C 10.448 13 10 13.449 10 14 C 10 14.551 10.448 15 11 15 C 11.552 15 12 14.551 12 14 L 12 7 z"
                    ></path></svg
                >
            </a>
        </div>

        <p
            class="text-sm text-gray-200 mt-4 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0"
        >
            2024 Stu-Productos — <a
                href="https://github.com/ingangelbaeza"
                class="text-gray-200 ml-1"
                rel="noopener noreferrer"
                target="_blank">@ingangelbaeza</a
            >
        </p>
    </div>
</footer>
