<section id="patterns" class="text-gray-600 body-font">
    <div class="relative">
        <img
            class="w-full object-cover"
            alt="hero"
            src="../images/patterns.webp"
        />
        <div class="absolute top-1/4 left-1/2">
            <p
                class="font-anton tracking-widest stroke-black uppercase text-white font-black text-3xl md:text-5xl lg:text-7xl"
            >
                patrones
            </p>
            <p class="uppercase text-white font-bold md:text-xl lg:text-3xl">
                has tu propio
            </p>
            <p class="uppercase text-red-500 font-bold md:text-xl lg:text-3xl">
                amigurumi
            </p>
        </div>
    </div>
    <div class="w-full bg-gray-500 py-5 px-8 text-center">
        <p class="mb-2 text-white font-semibold lg:text-xl">
            Si te gustan los amigurumis y quieres comenzar a hacer tu colección <b
                >Stú-Productos</b
            > tiene algo para ti.
        </p>
        <a
            href="https://www.whatsapp.com/catalog/5217227535461/"
            target="_blank"
            class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg uppercase"
            >comienza ahora</a
        >
    </div>

    <div class="text-gray-600 body-font">
        <div class="container px-5 mt-10 mx-auto">
            <div class="flex flex-col text-center w-full mb-10">
                <h1
                    class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900"
                >
                    Nuevos modelos!
                </h1>
                <hr />
            </div>
            <div class="flex flex-wrap -m-4">
                <div class="lg:w-1/3 sm:w-1/2 w-full p-4">
                    <div class="flex relative">
                        <img
                            alt="gallery"
                            class="absolute inset-0 w-full h-full object-cover object-center"
                            src="../images/catalogue.webp"
                        />
                        <div
                            class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100"
                        >
                            <h1
                                class="title-font text-lg font-medium text-gray-900 mb-3"
                            >
                                Nombre del amigurumi
                            </h1>
                            <p class="leading-relaxed text-gray-300">
                                $300.00 MNX
                            </p>
                        </div>
                    </div>
                </div>
                <div class="lg:w-1/3 sm:w-1/2 w-full p-4">
                    <div class="flex relative">
                        <img
                            alt="gallery"
                            class="absolute inset-0 w-full h-full object-cover object-center"
                            src="../images/catalogue.webp"
                        />
                        <div
                            class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100"
                        >
                            <h1
                                class="title-font text-lg font-medium text-gray-900 mb-3"
                            >
                                Nombre del amigurumi
                            </h1>
                            <p class="leading-relaxed text-gray-300">
                                $300.00 MNX
                            </p>
                        </div>
                    </div>
                </div>
                <div class="lg:w-1/3 sm:w-1/2 w-full p-4">
                    <div class="flex relative">
                        <img
                            alt="gallery"
                            class="absolute inset-0 w-full h-full object-cover object-center"
                            src="../images/catalogue.webp"
                        />
                        <div
                            class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100"
                        >
                            <h1
                                class="title-font text-lg font-medium text-gray-900 mb-3"
                            >
                                Nombre del amigurumi
                            </h1>
                            <p class="leading-relaxed text-gray-300">
                                $300.00 MNX
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
