<section
    id="products"
    class="text-gray-600 body-font mt-10 lg:mt-0 lg:grid lg:overflow-hidden lg:grid lg:overflow-hidden lg:grid-cols-4 lg:grid-rows-2 mb-10"
>
    <div
        class="container mx-auto px-5 flex items-center lg:items-start justify-center flex-col lg:box lg:row-start-1 lg:row-end-2 lg:col-start-3 lg:col-end-5"
    >
        <h1
            class="title-font sm:text-4xl text-4xl mb-4 font-medium text-gray-900 w-full relative md:text-center lg:text-left"
        >
            <span
                class="font-anton tracking-widest uppercase text-5xl lg:text-7xl text-gray-300 lg:mr-16"
                >productos</span
            >
            <div
                class="absolute bottom-1 lg:bottom-3 left-16 md:left-1/2 lg:left-20"
            >
                <span
                    class="uppercase text-xl font-semibold lg:text-3xl font-semibold"
                    >mas que <span class="text-red-500">amigurumis</span></span
                >
            </div>
        </h1>
    </div>

    <div
        class="lg:box lg:row-start-1 lg:row-end-3 lg:col-start-1 lg:col-end-3 lg:content-center"
    >
        <img
            class="hidden lg:block w-full mt-20"
            alt="hero"
            src="../../public/images/products-1.webp"
        />
        <img
            class="lg:hidden w-full md:w-3/6 lg:w-full mb-5 lg:mb-0 md:mx-auto"
            alt="hero"
            src="../../public/images/products-2.webp"
        />
    </div>

    <div
        class="container mx-auto px-5 flex items-center lg:items-start justify-center flex-col lg:box lg:row-start-2 lg:row-end-3 lg:col-start-3 lg:col-end-5"
    >
        <div class="text-justify w-full lg:text-left lg:w-3/4">
            <p class="text-lg">¿En STU-PRODUCTOS hacemos solo muñecos?</p>
            <p class="text-lg">
                En un principio sí, pero al ofrecer diseños personalizados
                generamos una serie de ilustraciones que puedes aplicar a
                objetos cotidianos que tendrán tu propio estilo. Escoje de entre
                playeras, tazas, tarros, gorras libretas etc.
            </p>
            <div class="mt-2 text-center justify-center lg:text-right">
                <a
                    href="https://es-la.facebook.com/Stuproductos/"
                    target="_blank"
                    class="ml-4 mt-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg uppercase"
                    >conoce más</a
                >
            </div>
        </div>
    </div>
</section>
